<section>
    <div class="card">
        <div class="card-header">
            <h3>{{{title}}}</h3>
            <p>Posted by {{{user.username}}} on {{{createdAt}}}</p>
        </div>
        <div class="card-body">
            {{{content}}}
        </div>
    </div>
</section>
{{#if }}
<section