.no-padding {
    padding: 0 0 10px 0;
}

.card {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.navbar {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 30em;
}

.updatePost {
    width: 10em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.deletePost {
    width: 10em;
}

.comments {
    width: 10em;
}

textarea {
    width: 30em;
}

button {
    margin-left: auto;
    margin-right: auto;
}

.no-button {
    background: transparent;
    border: none !important;
}

.card-body {
    background-color: cadetblue;
    color: white;
    font-size: medium;
}